.container {
  background: url('../../../public/assets/technology/background-technology-mobile.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 66.7rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100%;
  height: 71rem;
}
@media (min-width: 376px) {
  .container {
    height: 100vh;
  }
}
