.main_container {
  max-width: 32rem;
  width: 100%;
  margin-bottom: 6.1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
@media (min-width: 768px) {
  .main_container {
    max-width: 45rem;
  }
}
.subtitle {
  color: #d0d6f9;
  letter-spacing: 0.25rem;
  font-family: 'Barlow Condensed', sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  max-width: 21.7rem;
  margin-bottom: 1.6rem;
}
@media (min-width: 768px) {
  .subtitle {
    font-family: 'Barlow Condensed', sans-serif;
    max-width: 28rem;
    font-size: 2rem;
    letter-spacing: 0.17em;
    text-align: center;
    margin-bottom: 2.4rem;
  }
}
.main_title {
  font-family: 'Bellefair', sans-serif;
  font-size: 8rem;
  line-height: 125%;

  color: #fff;
  font-weight: 400;
  margin-bottom: 1.6rem;
}
@media (min-width: 768px) {
  .main_title {
    font-size: 15rem;
    line-height: 100%;
    margin-bottom: 2.4rem;
  }
}

.description {
  font-size: 1.5rem;
  line-height: 167%;

  color: #d0d6f9;
}
@media (min-width: 768px) {
  .description {
    font-size: 1.6rem;
    line-height: 175%;
    max-width: 44rem;
    margin-bottom: 15.6rem;
  }
}
.explore {
  width: 15rem;
  height: 15rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 0.06em;
  text-align: center;
  color: #0b0d17;
  font-family: 'Bellefair', sans-serif;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .explore {
    width: 24.2rem;
    height: 24.2rem;
    margin-bottom: 9rem;
    font-weight: 400;
    font-size: 32px;
  }
}
